nav img{
    height: 56px !important;
}
nav i{
    display: inline-block !important;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
